# Файли, що повинні бути ігноровані

# Локальні файли конфігурації
.env

# Файли, згенеровані середовищем розробки
/node_modules/
/dist/
/build/
/.vscode/
.idea/

# Файли бекапів
*.bak
*.backup

# Файли журналів
*.log

# Кешовані файли
.cache/
*.swp
*.swo

# Файли історії командного рядка
.history/

# Файли з метаданими проекту
*.iml
.vscode/
.idea/
